/* ROOT */


/* FONTS */


/* ALL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

/* MAIN */
main {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
}

/* SEARCH FIELD */
#search {
    grid-column: col-start / span 5;
    grid-row: row-start / span 1;
}

/* CREATURE FIELD */
#creature {
    grid-column: col-start / span 5;
    grid-row: row-start 2 / span 11;
}

/* INFO */


/* ABILITY */


/* STATS FIELD */
#stats {
    grid-column: col-start 6 / span 7;
    grid-row: row-start / span 12;
}

/* SMALL SCREEN */

